:root {
  --link-color: #275fe0;
  --background-color: #ffffff;
  --button-color: #f4c32f;
  --background-color-service: #efefef;
  --heading-color: #131313;
  --service-text-color: #030303;
  --number-color: #868686;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  position: relative;
  background-color: var(--background-color);
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  padding-top: 53px;
}

.logo {
  align-items: center;
  margin-bottom: 200px;
}

.header-info {
  margin-bottom: 220px;
}

.header-info .title {
  color: var(--heading-color);
  font-family: "Tahoma", sans-serif;
  font-size: 51px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.02px;
  margin-bottom: 24px;
}

.title-info {
  color: #131313;
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 230px;
  padding-right: 230px;
}

.title-info .bold {
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.buttons {
  margin-top: 40px;
}

.btn {
  width: 246px;
  height: 66px;

  border-radius: 5px;
  border: 1px solid #131313;
  margin-top: 35px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 11px 40px;
  text-decoration: none;
  color: var(--heading-color);
}

.btn:hover {
  background-color: var(--button-color);
}

.main {
  font-family: "Tahoma", sans-serif;
}

.our-service {
  background-color: var(--background-color-service);
}

.services {
  margin-top: 90px;
  margin-bottom: 90px;
  color: var(--service-text-color);
  font-family: "Tahoma", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.76px;
}

.service-list {
  list-style: none;
  columns: 3;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.service-list-item {
  width: 280px;
  padding: 2px;
  display: inline-block;
  text-align: center;
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom: 55px;
}
.service-name {
  font-size: 20px;
  margin: 10px;
  font-weight: 700;
}

.service-text {
  font-size: 15px;
}

.fb-link {
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.fb-link::before {
  content: "";
  display: inline-block;
  border: 1px solid #abbeea;
  position: relative;
  width: 157px;
  left: 167px;
  top: 7px;
}

.our-service .container {
  padding-bottom: 72px;
}

.privilege-list {
  justify-content: space-evenly;
  display: flex;
}

.row-item {
  display: flex;
}

.priv-number {
  color: var(--number-color);
  font-size: 32px;
}

.priv-description {
  text-align: left;
  margin: 0px 20px 38px;
}
.priv-description .name {
  font-family: "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.priv-description .text {
  font-family: "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #585757;
  margin-top: 18px;
}

.iphone {
  width: 370px;
  height: 450px;
}

.footer {
  background-color: var(--background-color-service);
}

.footer .container {
  justify-content: space-between;
  display: flex;
  padding-bottom: 50px;
}

.slogan {
  font-size: 18px;
  color: var(--number-color);
  line-height: 26px;
  padding-left: 200px;
}

.rights {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: var(--number-color);
  padding-right: 200px;
}
